.footer__column-link {
  text-decoration: none;
  color: white;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
}
.footer__column-link:hover {
  color:#d41111;
  opacity: .7;
  transition: color .2s ease-in .5s;
}
