.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .table__cell_theme_dark:nth-of-type(n + 5) {
    margin-bottom: auto;
    margin-top: auto;
  }
  .table__cell_theme_dark:nth-of-type(n + 6) {
    margin-bottom: 0;
    margin-top: 0;
  }