.khan__buy-link {
  line-height: 42px;
  font-weight: normal;
  font-size: 30px;
  text-decoration: none;
  color: #2f80ed;
  align-self: flex-start;
}
.khan__buy-link:hover {
  color: #d41111;
  opacity: .7;
  transform: translate(10px);
  transition: translate .5s linear .5s;
}
