.khan__buy-link {
  line-height: 42px;
  font-weight: normal;
  font-size: 30px;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 0;
  left: 656px;
}
.khan__buy-link:hover {
  color: #32cd32;
  opacity: 0.5;
  transition: color 1s 0.5s linear;
}
